name: Build with Docker

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Build Docker Image
      - name: Build Docker Image
        run: docker build -t calc-python:latest .

      # Run tests inside Docker and generate coverage
      - name: Run Tests in Docker
        run: |
          mkdir -p coverage
          docker run --rm \
            -v ${{ github.workspace }}/coverage:/app/coverage \
            calc-python:latest \
            pytest --cov=src --cov-report=xml:/app/coverage/coverage.xml --cov-branch

      # SonarQube Scan
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_SCANNER_OPTS: "-Dsonar.python.coverage.reportPaths=coverage/coverage.xml"
